html {
    font-size: 62.5%;
    /*RESET PARA REMS- 62.5% = 10px de 16px(por default) */
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Utilidades*/

h1 {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.icon {
    font-size: 3rem;
}

.button {
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    background-color: #0fc200;
    color: #ffffff;
    border: 1px solid #0fc200;
    border-radius: 1rem;
    padding: .5rem;
}

audio {
    width: 100%;
    background-color: orange;
}

.centrar {
    margin: 0 auto;
}


/*Header*/

header {
    background-color: #ffa200;
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #008099;
}

@media (min-width: 768px) {
    div.logo {
        background-color: #ffa200;
        padding: 0;
    }
}

div.logo a {
    font-size: 4rem;
    color: #0fc200;
}

div.contenido-barra .item-barra {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contenido-barra a {
    font-size: 2rem;
}

div.item-barra {
    border: 1px solid black;
    padding: 1rem 1rem;
}

@media (min-width: 768px) {
    div.barra {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

div.item-barra a i {
    color: #008099;
}

div.item-barra p {
    font-family: 'Bangers', cursive;
    color: black;
    margin: 0 0 0 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

div.item-barra:hover {
    background-color: #e39104;
    cursor: pointer;
}

@media (min-width: 768px) {
    div.item-barra p {
        margin: 0 2rem 0 1rem;
    }
    div.item-barra:last-of-type {
        margin: 0 0 0 1rem;
        background-color: #FF5733;
        border-radius: 1rem;
    }
    div.item-barra:last-of-type:hover {
        background-color: #fc2c00;
    }
}

@media (min-width: 768px) {
    div.contenido-barra {
        display: flex;
    }
    div.item-barra {
        border: none;
    }
}

@media (min-width: 768px) {
    div.header {
        display: flex;
        padding: 1rem 10rem;
    }
}


/*Contenido principal*/

@media (min-width: 768px) {
    div.contenido {
        max-width: 70rem;
        height: auto;
        margin: 0 auto;
        -webkit-box-shadow: 5px 7px 15px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 7px 15px -8px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 7px 15px -8px rgba(0, 0, 0, 0.75);
    }
}

div .first-post {
    padding: 0 1rem;
}

div.name-user {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

div.container-content {
    margin: 1rem;
}

div.name-user {
    background-color: #cceeff;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.name-user p {
    text-transform: lowercase;
    font-weight: 900;
    margin: 0;
}

div.reactions-content {
    width: 100%;
    display: flex;
    align-content: center;
    background-color: #cceeff;
    padding: 1rem 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

div.upload {
    display: flex;
    align-items: center;
}

div.follow {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.follow :hover {
    background-color: #0da001;
    cursor: pointer;
}

div.upload a i {
    color: #ff0000;
    margin-right: 1rem;
}


/*ASIDE*/

@media (min-width:768px) {
    section {
        display: flex;
    }
    section div.main-container {
        flex-basis: 80%;
    }
    aside {
        flex-basis: 20%;
    }
}

div.aside {
    background-color: #008099;
    text-align: center;
    height: 100vw;
    -webkit-box-shadow: inset 9px -1px 5px -5px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: inset 9px -1px 5px -5px rgba(0, 0, 0, 0.58);
    box-shadow: inset 9px -1px 5px -5px rgba(0, 0, 0, 0.58);
}

div.aside div {
    border: 1px solid #000000;
}

div.notification-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}

div.notification-icon a i {
    color: #000000;
}

div.notification-icon div {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.following p {
    font-family: 'Bangers', cursive;
    margin: 1rem 0;
}

div.followed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.music-group {}